---
import { type EntryBody } from "@src/content.config";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
    body: EntryBody;
    img: ImageMetadata | null;
    imgWidth?: number;
}

const { body, img, imgWidth = 256 } = Astro.props;
---

<section id={body.id.slice(1)} class="entry">
    <h3 class="transition-slide-left">{body.title}</h3>
    <div class="content">
        <div class="card transition-slide-right">
            {
                img != null && (
                    <Image
                        class="image-popup-item"
                        src={img}
                        alt={body.title + " cover"}
                        width={imgWidth}
                        id={body.id.slice(1) + '-image'}
                    />
                )
            }
            <table>
                <tbody>
                    {
                        body.table.map((entry) => (
                            <tr>
                                <td class="row-key">{entry.key}:</td>
                                <td>
                                    {
                                        Array.isArray(entry.value.value) ? 
                                            entry.value.value.map((e) => (
                                                <span>
                                                    {<Fragment set:html={e} />}
                                                </span>
                                            ))
                                        : 
                                            <a href={entry.value.value.link} target="_blank">
                                                {<Fragment set:html={entry.value.value.text} />}
                                            </a>
                                    }
                                </td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
        </div>
        <div class="transition-slide-left"><slot /></div>
    </div>
</section>
