---
import { type EntryBody } from "@src/content.config";
import type { GetImageResult, ImageMetadata } from "astro";
import { Image, getImage } from "astro:assets";
import ImageCarousel from "./ImageCarousel.astro";

interface Props {
    body: EntryBody;
    img: ImageMetadata | null;
    imgWidth?: number;
}

const { body, img, imgWidth = 256 } = Astro.props;

const id = body.id.slice(1);
const coverImgId = id.concat("-image");

var optimizedImg: GetImageResult | null = null;
if (img != null) {
    optimizedImg = await getImage({ src: img });
}
---

<section id={id} class="entry">
    <h3 class="transition-slide-left">{body.title}</h3>
    <div class="content">
        <div class="card transition-slide-right">
            {
                img != null && optimizedImg != null && (
                    <div class="gallery">
                        <a
                            href={optimizedImg.src}
                            data-pswp-width={optimizedImg.attributes.width}
                            data-pswp-height={optimizedImg.attributes.height}
                            target="_blank"
                        >
                            <Image
                                src={img}
                                id={coverImgId}
                                alt={body.title.concat(" cover")}
                                width={imgWidth}
                            />
                        </a>
                    </div>
                )
            }
            <table>
                <tbody>
                    {
                        body.table.map((entry) => (
                            <tr>
                                <td class="row-key">{entry.key}:</td>
                                <td>
                                    {
                                        Array.isArray(entry.value.value) ? 
                                            entry.value.value.map((e) => (
                                                <span>
                                                    {<Fragment set:html={e} />}
                                                </span>
                                            ))
                                        : 
                                            <a href={entry.value.value.link} target="_blank">
                                                {<Fragment set:html={entry.value.value.text} />}
                                            </a>
                                    }
                                </td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
        </div>
        <div class="transition-slide-left"><slot /></div>
        <!-- HACK: doing this until I put this info in the frontmatter -->
         {
            id == 'starship-invasion' && <ImageCarousel imgDir="starship_invasion" />
         }
         {
            id == 'starry-night' && <ImageCarousel imgDir="starry_night" />
         }
        
    </div>
</section>
