---
import { getImage, Image } from "astro:assets";

interface Props {
    imgDir: string;
}
const { imgDir } = Astro.props;

const imgs = import.meta.glob<{ default: ImageMetadata }>(
    "../content/image/**/*",
);
const imgPaths = Object.keys(imgs).filter((imgPath) => {
    return imgPath.includes(`/content/image/${imgDir}/`);
});
---

<div class="gallery image-carousel">
    {
        imgPaths.map(async (imgPath) => {
            const img = imgs[imgPath]();
            const optimizedImg = await getImage({ src: img });

            return (
                <a
                    href={optimizedImg.src}
                    data-pswp-width={optimizedImg.attributes.width}
                    data-pswp-height={optimizedImg.attributes.height}
                    data-cropped={true}
                    target="_blank"
                >
                    <Image src={img} alt="" width={256 / 2} />
                </a>
            );
        })
    }
</div>
